@model Domki_Rezerwacje.Models.House



@{
    ViewBag.Title = "HouseAdd";
}

<br />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Dodaj domek</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="model.HouseName" class="control-label col-md-2">Nazwa Domku</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.HouseName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HouseName, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        <label for="model.Location" class="control-label col-md-2">Miejscowość</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="model.Description" class="control-label col-md-2">Opis</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="model.RoomSize" class="control-label col-md-2">Ilość miejsc</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.RoomSize, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RoomSize, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="model.Owner" class="control-label col-md-2">Twoje nazwisko</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Owner, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Owner, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="model.OwnerPhone" class="control-label col-md-2">Telefon kontaktowy</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.OwnerPhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OwnerPhone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Powrót", "Index", "Home")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


